:root{
  --primary-color:#FFFB00;
  --secondary-color: #0A7AFA;
  --accent1-color:#FFC66F;
  --accent2-color: #C7C7C7;
  --heading-font: "Overpass", serif;
  --text-font: "Karla", serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 900;
  font-style: normal;
}

article img {
  float: right;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  
}

p {
  font-family: var(--text-font);
  font-weight: 400;
  font-style: normal;
}

.socialmedia img {
  text-decoration: none;
  width: 50px;
  height: 50px;
}
